.horizontal-menu .bottom-navbar .page-navigation {
    position: relative;
    width: 100%;
    z-index: 99;
    justify-content: left !important;
    transition-duration: .2s;
    transition-property: background,box-shadow;
}
.table-responsive {
    overflow-x: hidden !important;
}

table td {
    white-space: unset !important;
}

table form#form-4 {
    width: 92px;
}